/*browser-action css*/
body {
  height: 100vh;
  background: #009688;
  text-align: center;
}
#mainPopup {
  height: 100vh;
  width: 300px;
  font-family: Lato;
  font-weight: Thin 100;
  color: white;
}
h1 {
  background: white;
  color: #009688;
  font-size: 2em;
}
