<!doctype html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="browser_action.css">
</head>
<script src="/js/angular/angular.js"></script>
<script src="browser_action.js"></script>
<body ng-app="splytApp">
  <div ng-controller="HomeCtrl" id="mainPopup">
  <h1>Splyt</h1>
  <ul>
    <li ng-repeat="songObj in songs">
      <a href="{{songObj.song.permalink_url}}" target="_blank">{{songObj.song.title}}</a><button ng-click="addSong(songObj)">Add</button>
    </li>
  </ul>
  </div>
</body>
